
.select_Price{
    text-align: center;
    width: 200px;
    padding: 8px;
    color: white;
    background-color: #112B3C;
    border: #112B3C;
    outline: none;
}
.select:hover {
    outline: none;
}
