
.formReview{
  position: absolute;
  right: 50%;
  bottom: 60% ;
  transform: translate(50%, 50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #112B3C;
  width: 500px;
  height: auto;
}
.formReview label{
  color: #F66B0E;
  font-size: large;
  font-weight: 600;
}

.review{
  margin: 20px  ;
}

.btnContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px ;
}

.btnAdmin{
    align-self: center;
    text-transform: uppercase;
    border: none;
    border-radius: 0.5rem;
    background: #F66B0E;
    font-size: medium;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    margin: 0px 0px 0px 5px;
}

.btnAdmin:hover{
    box-shadow: 0.2rem 0.2rem 0.5rem #F66B0E;
}

.inputReview{
    outline: none;
    padding: 10px;
    border: 0;
    background-color: #E1E1E1;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.15s
  }
  .inputReview:hover{
    box-shadow: 0 0 0 3px #F66B0E;
  }

  .inputReviewPoints{
    outline: none;
    text-align: center;
    padding: 10px;
    border: 0;
    background-color: #E1E1E1;
    border-radius: 5px;
    width: 100px;
    box-sizing: border-box;
    transition: box-shadow 0.15s;
    font-size: medium;
    font-weight: bolder;
  }
  .inputReviewPoints:hover{
    box-shadow: 0 0 0 3px #F66B0E;
  }
