.errors {
  color: rgb(239, 53, 53);
  font-size: medium;
  padding-top: 20px;
}

.input{
  outline: none;
  padding: 10px;
  border: 0;
  background-color: #E1E1E1;
  border-radius: 5px;
  width: 220px;
  box-sizing: border-box;
  transition: box-shadow 0.15s
}
.input:hover{
  box-shadow: 0 0 0 3px #F66B0E;
}

.inputError{
  animation: shake 300ms;
  outline: none;
  padding: 10px;
  border: 0;
  background-color: #E1E1E1;
  border-radius: 5px;
  width: 220px;
  box-sizing: border-box;
  transition: box-shadow 0.15s
}
.inputError:hover{
  box-shadow: 0 0 0 3px #F66B0E;
}
@keyframes shake {
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.containerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.categoryForm{
  margin-top: 2rem;
}
.categoryForm h3 {
  font-weight: bold;
  font-size: 25px;
  color: aliceblue
}

.mybtn{
  align-self: center;
  text-transform: uppercase;
  border: none;
  border-radius: 0.5rem;
  background: #6ecb63;
  font-size: large;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.mybtn2{
  align-self: center;
  text-transform: uppercase;
  border: none;
  border-radius: 0.5rem;
  background: #b20600;
  font-size: large;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  margin-left: 1rem;
}
.btnContainer{
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-top: 2rem;
  background-color: #112B3C;
  color: aliceblue;
  height: 21rem;
  position: relative;
  width: 300px;
}

.closeBtn{
  position: absolute;
  background-color: #b20600;
  border: none;
  font-weight: bold;
  color: #fff;
  top: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
