
.inputAdmin {
    outline: none;
    padding: 10px;
    border: 0;
    background-color: #E1E1E1;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.15s;
}

.inputAdmin:hover{
    box-shadow: 0 0 0 3px #F66B0E;
}

.subBox p {
    margin-top: 10px;
    padding-right: 10px;
    font-weight: bold;
}

