.banner{
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.banner.show{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerButton{
    position: absolute;
    background-color: #0d6fa8;
    border: none;
    font-weight: bold;
    color: #fff;
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 0.2rem;
    cursor: pointer;
}
.bannerButton:active{
    background-color: #fff;
  color: #0d6fa8;
  border: 1px solid #0d6fa8;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    align-items: center;
    position: relative;
    background-color: #fefefe;
    border-radius: 1rem;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    min-height: 10rem;
    height: 30vh;
  }

  .reload{
      border: none;
      background-color: #fefefe;
  }