.card_container{
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: max-content;
    margin-top: 50px;
}
.card{
    display: flex;
    position: relative;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(0 0 0 / 20%)
}

.card_img{
    display: flex;
    width: 820px;
    justify-content: center;
}
.imgContainer{
    display: flex;
    align-items: center;
    width: 500px;
    height: 500px;
}
.imgContainer img{
    max-width: 100%;
}
.card_data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 460px;
    border-left: 1px solid rgba(0, 0, 0, 0.52) ;
}
.card_dataBtm{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.card_dataBtm h5{
    padding-top: 2px;
}
.qty{
    display: flex;
}
.qty h5{
    padding: 4px 3px 0 0;
    
}
.desc{
    width: 100%;
    margin: 10px;
    padding: 0 3px 0 20px;
}
.myBtn{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #F66B0E;
    padding: 14px 40px;
    outline: none;
    color: #112B3C;
    font-weight: 700;
    border-radius: 24px;
    transition: 0.5s;
}
.myBtn:disabled{
    background: #b20600;
    border: #b20600;
    color: #fff;
}
.select{
    text-align: center;
    width: 80px;
    padding: 8px;
    color: #112B3C;
    font-weight: 650;
    background: #EFEFEF;
    border: #112B3C;
    border-radius: 10px;
    transition: 0.25s;
    
}
.select:focus, .select:hover {
    outline: none;
}
.select option {
    color: #112B3C;
    background-color: #EFEFEF;
}

.myBtn:hover:enabled{
    width: 200px;    
    background: #F66B0E;
    cursor: pointer;
}

.btnBack{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 11px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-transform: uppercase;
    border: none;
    background: #F66B0E;
    font-size: large;
    font-weight: 500;
    color: #fff;
    padding: 0.5rem;
}