.select_categories{
    text-align: center;
    width: 150px;
    padding: 8px;
    color: white;
    background: #112B3C;
    border: #112B3C;
    outline: none;
}
.select_categories:hover {
    outline: none;
}