.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 2rem;
    background-color: #112B3C;
    color: aliceblue;
    height: 28rem;
    position: relative;
  }
  
  .section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .spanX{
    width: 60%;
  }
  .btnX{
    width: 10rem;
    align-self: center;
    border: none;
    border-radius: 0.5rem;
    background: #6ecb63;
    font-size: medium;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem;

}

.closeBtn{
  position: absolute;
  background-color: #b20600;
  border: none;
  font-weight: bold;
  color: #fff;
  top: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0.2rem;
  cursor: pointer;
}


.dataBox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

  .containerForm{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .containerForm span{
      font-weight: bold;
      font-size: 20px;
    }

    .imageBox{
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
  }
  
  #imageDiv{
      max-width: 100%;
      max-height: 100%;
     border-radius: 50%;
     border: 5px solid #F66B0E;
  }
  
  .btnContainer{
    display: flex;
  }

  .btnAdmin{
    align-self: center;
    text-transform: uppercase;
    border: none;
    border-radius: 0.5rem;
    background: #6ecb63;
    font-size: medium;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0px 0px 0px 5px;
}

.btnAdmin:hover{
    box-shadow: 0.2rem 0.2rem 0.5rem #6ecb63;
}

.mybtn{
  align-self: center;
  text-transform: uppercase;
  border: none;
  border-radius: 0.5rem;
  background: #6ecb63;
  font-size: large;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

#special{
  font-size:x-large;
}