.content{
    display: flex;
    width: max-content;
    margin-top: 1rem;
}
.caja{
    display: flex;
    width: 100%;
    justify-content: center;
}

.searchBar{
    width: 500px;
    margin-top: 1rem;
    margin-left: 1rem;
}

.ordersList{
    width: 70%;
    margin-top: 0.5rem;
    height: 35rem;
    overflow-x: overlay;
}

#footer{
    margin-top: 2rem;
}

.ordersList::-webkit-scrollbar {
    display: none;
    }