.content{
    display: flex;
    width: max-content;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBar{
    width: 100%;
}

.caja{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;
    width: 80%;
}

.searchBar{
    flex: 1;
    margin: 0rem 1rem 2rem 1rem;
}

.ordersList{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 33rem;
    overflow-x: overlay;
    width: 500px;
}

#Footer{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

@media(max-width: 750px){
    .caja{
    display: flex;
}
    .content{
        display: flex;
        flex-direction: column;
        align-items:center;
       
    }
    .searchBar{
        display: flex;
        flex-direction: column;
        width: 90%;    
    }
    .ordersList{
        display: flex;
        justify-content: center;
        overflow-x: overlay;
        margin-bottom: 2.5rem;
    }
}