.header{
    display: flex;
    color: #ffff;
    align-items: center;
    justify-content: center;
    font-size: 50px ;
    height: 120px;
}
.adminPage{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 100px;
    width: 80%;
    height: 25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #EFEFEF;
    padding: 10px;
}
h2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}