/* Checkout Steps */

.contenedor {
  box-shadow: 0 .5rem 1rem #112B3C!important;
  background-color: #112B3C;
}


.btn{
  color: #FFFFFF; 
  background-color: #112B3C; 
  border-color: #393f44; 
  border-radius: 8px;
  height: 40px;
}
.btn:hover{
    color: #FFFFFF; 
    background-color: #F66B0E; 
    border-color: #F66B0E; 
}

.small{
  max-width: 5rem;
  width: 100%;
  margin-right: 10px;
  margin-top: 10px;
}
.titulo{
  color: #F66B0E;
  font-size: 3rem;
  font-weight: 800;
  align-items: center;
  flex-direction: center;
  margin: 15px;
}
.title{
  color: #F66B0E;
  font-size: 3rem;
  font-weight: 800;
  align-items: center;
  flex-direction: center;
  margin: 15px;
}
.titulo:hover{
  color: #9b978f;
}
.subtitulo{
  color: #F66B0E;
  font-size: 2rem;
  font-weight: 400;

}