.search{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 50px;
    background: #EFEFEF;
    border-radius: 40px;
    border: solid #F66B0E;
    padding: 0.1px;
    margin-right: 9px;
}

.btn{
    float: right;
    width: 30px;
    height: 25px;
    border-radius: 40px;
    border: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}
.inpSearch{
    width: 360px;
    border: none;
    outline: none;
    padding-left: 20px;
    background: none;
    font-size: 1.1rem;
    transition: 0.5s ease;
    line-height: 40px;
}