.contenedor{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.btn{
    color: #FFFFFF; 
    background-color: #112B3C; 
    border-color: #393f44; 
    border-radius: 8px;
    height: 40px;
  }
  .btn:hover{
      color: #FFFFFF; 
      background-color: #F66B0E; 
      border-color: #F66B0E; 
  }

  .danger{
      margin:0;
      width: 100%;
      color: rgb(238, 10, 55);
      height: 100%;
      display:grid;
      align-items: center;
      justify-items: start;
  }
  .titulo{
      color: #F66B0E;
      font-size: larger;
      font-weight: 800;
      align-items: center;
      flex-direction: center;
  }