.contenedor {
    box-shadow: 0 .5rem 1rem #112B3C!important;
    background-color: #112B3C;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }


.btn{
    color: #FFFFFF; 
    background-color: #112B3C; 
    border-color: #393f44; 
    border-radius: 8px;
    height: 40px;
  }
  .btn:hover{
      color: #FFFFFF; 
      background-color: #F66B0E; 
      border-color: #F66B0E; 
  }

  .danger{
      margin:0;
      width: 100%;
      color: rgb(238, 10, 55);
      height: 100%;
      display:grid;
      align-items: center;
      justify-items: start;
  }
  .titulo{
    display:grid;
    color: #F66B0E;
    font-size: 3rem;
    font-weight: 800;
    align-items: center;
    flex-direction: center;
    margin: 15px;
  }
  .titulo:hover{
    color: #9b978f;
  }

  .subtitulo{
    display: grid;
    color: #F66B0E;
    font-size: 1rem;
    font-weight: 500;
   
  }
 .label{
    color: #0927ce;
    margin-left: 10px;
  }