.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
   
}
.box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}


.mybtn{
    color: #EFEFEF;
    text-decoration: none;
    font-weight: 700;
    padding-left: 29px;
    margin-right: 40px;
}
.mybtn:hover{
    color: #F66B0E;
}

.footHead{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}
h3{
    color: #292727;
    font-weight: 600;
    display: inline;
    font-size:medium;
    margin-right: 15px;

}

.logout{
    color: #292727;
    font-weight: 600;
    display: inline;
    font-size:medium;
    margin-right: 15px
}

.conte{
    display:flex;
    margin-left: 30px;
    margin-top: 8px;

}

.aux{
    display: flex;
    flex-direction: row;
}