.container{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader{
    width: 100px;
    height: 100px;
    border: solid 5px #064555;
    border-top: solid 5px #7cd6ec ;
    border-radius: 50%;
    animation: loader 0.8s linear infinite;
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
