.errors {
  color: red;
  font-size: 12px;
}

.inputError{
  animation: shake 300ms;
}

@keyframes shake {
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}
.container{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerForm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;;
    padding: 10px;
  }

.categoryForm{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.mybtn{
  align-self: center;
  text-transform: uppercase;
  border: none;
  border-radius: 0.5rem;
  background: #6ecb63;
  font-size: large;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}