.shop_container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 23px;
}
.shop{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
}

.shopping_title{
    padding: 0px 0px 40px 40px;
    color: #F66B0E;
}

.shop_products{
    border-radius: 15px ;
    background-color: #112B3C;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.shop_date{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12px ;
}
.shops{
    margin: 20px;
}

.shop_date h3{
    font-size: x-large;
    font-weight: bold;
    color: #F66B0E;
}
.shop_date h2{
    font-size: x-large;
    font-weight: bold;
    color: #F66B0E;
}
.shop_date h2 span {
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
}

.shop_products span{
    font-size: larger;
    font-weight: bold;
}

.products{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #f6f6f6;
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(0 0 0 / 20%);
    padding: 15px;
    margin-top: 15px;
}

.shop_img{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBox{
    max-height: 160px;
    object-fit: cover;
}

.reviewCard{
    width: 350px;
    background-color: #112B3C;
    color: #f6f6f6;
    border-radius: 15px ;
    border: solid 1px black;
    padding: 10px;
}

.btnReview{
    align-self: center;
    text-transform: uppercase;
    border: none;
    border-radius: 0.5rem;
    background: #F66B0E;
    font-size: medium;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    margin: 0px 0px 0px 5px;
}

.btnReview:hover{
    box-shadow: 0.2rem 0.2rem 0.5rem #F66B0E;
}

.noCart{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}

.goHome{
    text-decoration: underline #112B3C ;
    color: #112B3C;
    font-weight: bold;
    font-size: 20px;
}

.shop_total{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px;
}

.shop_total span{
    font-size: x-large;
    font-weight: bold;
    color: #F66B0E;
}

.link {
    color: black
}
.link:hover {
    color: black
}